:root {

--tx: purple;
  --background-1: #000000;
  --background-2: #151515;
  --border-color: #303030;
  --foreground-1: #b0aa91;
  --foreground-2: #838383;
  
  --sn-stylekit-info-color: #a67800;
  --sn-stylekit-neutral-color: #7c7c7c;
  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-danger-color: #F80324;
  
  --sn-desktop-titlebar-ui-hover-color: var(--sn-stylekit-info-color);

/* Menus & Notes */
 --sn-stylekit-background-color: var(--background-1);

/* Hover Menu & Tags (Note panel) & Basic Markdown preview   */
  --sn-stylekit-foreground-color: var(--foreground-1);

/* Borders around window elements */
  --sn-stylekit-border-color: var(--border-color);
  
/* Title bar & Selected Note  */
  --sn-stylekit-contrast-background-color: var(--background-2);

/* Title bar border  */
  --sn-stylekit-contrast-border-color: var(--border-color);

/* Menus & Notes & Tags (Editor panel) & Title bar icons  */
  --sn-stylekit-contrast-foreground-color: var(--foreground-1);
 
/* View panel */
  --sn-stylekit-secondary-background-color: var(--background-2);
  --sn-stylekit-secondary-foreground-color: var(--foreground-1);

/* ????????????  */
  --sn-stylekit-info-contrast-color: tx;
  --sn-stylekit-neutral-contrast-color: tx;
  --sn-stylekit-success-contrast-color: tx;
  --sn-stylekit-warning-contrast-color: tx;
  --sn-stylekit-danger-contrast-color: tx;

  --sn-desktop-titlebar-bg-color: var(--tx);
  --sn-desktop-titlebar-border-color: var(--tx);
  --sn-desktop-titlebar-ui-color: var(--tx);

  --sn-stylekit-secondary-contrast-border-color: var(--border-color);
  --sn-stylekit-scrollbar-track-border-color: var(--border-color);
 
  --sn-stylekit-menu-border: 1px solid var(--border-color);


/* Highlighted view ? */
  --sn-stylekit-passive-color-4: var(--background-1);
  --sn-stylekit-passive-color-5: var(--background-1);
 
/* Alernative rich text divider  */
  --sn-stylekit-shadow-color: var(--border-color); 

/* Rich text edior's button borders */
 --sn-stylekit-secondary-border-color: var(--border-color);
 

/* Basic Markdown Buttons */ 
  --sn-stylekit-secondary-contrast-background-color: var(--background-2);
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-2);
  
/* Editor panel and some editor elements */
  --sn-stylekit-editor-background-color: var(--background-1);
  --sn-stylekit-editor-foreground-color: var(--foreground-1);

/* Text in Preferences */ 
 --sn-stylekit-paragraph-text-color: var(--foreground-1);
  
/* Scroll bars */
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);

/* Search box */  
  --sn-stylekit-passive-color-0: var(--foreground-2);   
  --sn-stylekit-passive-color-3: var(--border-color);

/* Tag background (Both panels)   */
  --sn-stylekit-passive-color-4-opacity-variant: var(--border-color);


}

.CodeMirror .cm-header-1, .gKsMQS h1, 
.CodeMirror .cm-header-2, .gKsMQS h2,
.CodeMirror .cm-header-3, .gKsMQS h3,
.CodeMirror .cm-header-4, .gKsMQS h4,
.CodeMirror .cm-header-5, .gKsMQS h5,
.CodeMirror .cm-header-6  .gKsMQS h6 {
  color: var(--info-color);
} 
